---
layout: default
published: true
---

<div class="container">

  <h2 class="page-title">
    2014 Projects
    <hr>
  </h2>	
  <p>
  	During the  program, our fellows work on data science projects in healthcare, education, energy, transportation, and more.
  </p>
   <p> 
  	Our program is intensive and hands-on. Fellows work with <strong>nonprofits</strong>, <strong>local governments</strong>, and <strong>federal agencies</strong>, learning about what they do and tackling data problems they face.
  </p>
  <p>
  	We're strong believers in open knowledge and open source. We blog extensively about our projects, and make much of our research and code open to everyone.
  </p>
  <p>
  You can find our 2013 projects <a href="/projects/2013">here</a>.
  </p>

    <div id="contact" class="row">

     <!-- Iterate through projects and display info -->
  {% for post in site.posts %}
    {% if post.type == 'org14' %}   
    <div class="span4 alert">
      <h3>{{ post.project }}</h3>
      {% for org in post.org %}
            <!-- Fetch the right partner url using current loop index-->
            <a href="{{ post.website[forloop.index0] }}">{{ org }}</a>
            <!-- Add comma after org name, unless last org in partner list -->
            {% if forloop.last != true %}
              ,
            {% endif %} 
          {% endfor %}

      {% for img in post.img %}
              <!-- Fetch the right image link as you loop through partner logos -->
              <a href="{{ post.website[forloop.index0] }}">            
              <img src="/img/partners/{{ img }}">
              </a>
            {% endfor %}
    </div>
    
    {% endif %}
  {% endfor %} 
  </div>


  <!-- Iterate through projects and display info -->
  {% for post in site.posts %}
    {% if post.type == 'org14' %}

      <div id="projects" class="row section">

        <!-- Project issue area -->
        {% if post.issue %}
          <span class="label label-large label-important">{{ post.issue }}</span>
        {% endif %}

        <!-- Project title -->
        <h4 id="{{ post.slug }}" class="project-title">

          <!-- Project partners -->
          {% for org in post.org %}
            <!-- Fetch the right partner url using current loop index-->
            <a href="{{ post.website[forloop.index0] }}">{{ org }}</a>
            <!-- Add comma after org name, unless last org in partner list -->
            {% if forloop.last != true %}
              ,
            {% endif %} 
          {% endfor %}

          <!-- Project name -->
          - {{ post.project }}

        </h4>

        <!-- Partner logos -->
        <div class="span4">
            {% for img in post.img %}
              <!-- Fetch the right image link as you loop through partner logos -->
              <a href="{{ post.website[forloop.index0] }}">            
              <img src="/img/partners/{{ img }}">
              </a>
            {% endfor %}
        </div>

        <!-- Project description -->
        <div class="span8">

          <!-- Blurb -->
          {{ post.content }}

          <!-- Blog post, doc, code -->
          {% if post.blog-post %}
            <a href="{{ post.blog-post }}" class="btn btn-huge btn-danger btn-block btn-embossed">
              Blog post: overview of problem and solution</a>
          {% endif %}

          {% if post.wiki %}
            <a href="{{ post.wiki }}" class="btn btn-huge btn-success btn-block btn-embossed">
              Report: in-depth, technical documentation</a>
            <a href="{{ post.repo }}" class="btn btn-huge btn-info btn-block btn-embossed">
              Code: open source code on Github</a>
          {% endif %}
        </div>


      </div>

    {% endif %}
  {% endfor %}

</div>
