---
layout: default
---
<div class="container">

  <h2 class="page-title">
    News
    <hr>
  </h2>
  <p>
    
  </p>

  <div class="row section">
    <div class="span6 offset3">

    {% for post in site.posts %}
      {% if post.type == 'news' %}
        <article>
          <h4 class="post-title"><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h4>
          <p class="post-date-author">{{ post.date | date_to_string }} - {{ post.author }}</p>
        </article>
      {% endif %}
    {% endfor %}

    </div>
  </div>
</div>

